<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423242522130-jtee5tkdppq2pm17jbioo34coiroguke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423242522130-jtee5tkdppq2pm17jbioo34coiroguke</string>
	<key>API_KEY</key>
	<string>AIzaSyAY5s0VcjwGe7_aVXjP_KTMWm1jFr3hxuM</string>
	<key>GCM_SENDER_ID</key>
	<string>423242522130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gbverse</string>
	<key>PROJECT_ID</key>
	<string>gbverse-product</string>
	<key>STORAGE_BUCKET</key>
	<string>gbverse-product.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423242522130:ios:7bdf219ab99065b66b02cb</string>
</dict>
</plist>